@import "./Webfonts/alethiapro_regular_macroman/stylesheet.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'alethia_proregular';
}

a {
    text-decoration: none;
    color: #000;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .header__main-page-link {
        font-size: 2rem;
        padding: 30px 6px;
        letter-spacing: 3px;
    }

    .menu {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 10px;
        flex-wrap: wrap;
        padding-bottom: 6px;
        letter-spacing: 2px;

        .menu__link {
            padding: 4px 20px;
            font-size: 1.2rem;  
            text-transform: uppercase;
            display: inline-block;
        }

        .menu__link:hover,
        .menu__link:active {
            color: #408f75;
            transition: all 0.25s ease-in-out;
        }

        .menu__link::after {
            display: block;
            content: '';
            padding-top: 4px;
            border-bottom: 2px solid #408f75;
            transition: transform 0.25s ease-in-out;
            
            transform: scaleX(0);
        }

        .menu__link:hover::after, 
        .menu__link:active::after {
            transform: scaleX(1);
        }
    }
}

main {
    .photo-container {

        padding: 14px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;

        .photo-container__item {  
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .photo-container__hover-overlay {
                position: absolute;
                width: 5%;
                height: 90%;
                background-color: #fff;
                display: grid;
                place-content: center;
                gap: 12px;
                color: #151e3f;
                text-transform: uppercase;
                opacity: 0;
                transition: all 0.9s ease;

                p {
                    text-align: center;
                    font-size: 3vw;
                    letter-spacing: 1px;
                    transform: scaleX(0.1);
                    transition: all 0.9s ease;
                }

                .collection-year {
                    font-size: 1.4vw;
                    color: #151e3fad;
                }
            }

        }
        
        .photo-container__item:hover .photo-container__hover-overlay {
            opacity: 80%;
            width: 90%;
            transition: all 0.5s ease;

            p {
                transform: scaleX(1);
                transition: all 0.8s ease;
            }
        }

        .photo-container__item img {
            max-width: 100%;
            height: 100%;
            object-fit: cover;  
        }
    }
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: end;
    padding: 10px;

    .links {
        display: inline-block;
        padding: 6px;

        .links__icon {
            padding: 0 4px;
        }

        .links__icon img {
            height: 32px;
            transform: scale(1);
            transition: transform 0.25s ease-in-out;
        }
        
        .links__icon img:hover {
            transform: scale(1.5);
        }
    }

}